$green: #98D61E;
$white: #FFFFFF;
$black: #000000;

$InputRange-primaryColor: $white;
$InputRange-neutralLightColor: rgba($white, 0.4);

@import "~react-input-range/scss/InputRange.scss";


.player-container {
  position: relative;
  background: $black;

  &:-webkit-full-screen {
    width: 100%;
    height: 100%;

    &.hide-mouse {
      cursor: none !important;
    }

    .player {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
    }
  }

  .player {
    &.native > video {
      display: block;
      width: 100% !important;
      height: auto !important;
    }

    &.youtube,
    &.unsupported {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    &.unsupported {
      color: $white;
      text-align: center;
    }
  }

  .control-bar {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 40px;
    background: rgba($green, 0.8);
    bottom: 0;
    transition: opacity .5s;
    color: $white;
    opacity: 1;

    &.hide-bar {
      opacity: 0;
    }

    $left-width: 130px;
    $right-width: 32px;

    .left-controls {
      float: left;
      width: $left-width;
    }

    .right-controls {
      float: right;
      width: 32px;
    }

    .slider {
      $margin-left: $left-width + 5px;
      $margin-right: $right-width + 5px;

      color: white;
      margin: 0 $margin-right 0 $margin-left;
      padding: 15px 0;

      .InputRange-label--min,
      .InputRange-label--max,
      .InputRange-label--value {
        display: none;
      }
    }

    button {
      outline: none;
      border: 0;
      padding: 11px 10px 9px;
      background: none;
    }
  }
}
