$green: #98D61E;
$white: #FFFFFF;
$black: #000000;

$seekbarActive: $white;
$seekbarBackground: rgba($white, 0.4);

//@import "~react-input-range/scss/InputRange.scss";

.player-container {
  position: relative;
  background: $black;

  &.fullscreen {
    width: 100%;
    height: 100%;

    &.hide-mouse {
      cursor: none !important;
    }

    .player {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
    }
  }

  .player {
    &.native-video > video {
      display: block;
      width: 100% !important;
      height: auto !important;
    }

    &.youtube,
    &.unsupported,
    &.native-audio {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    &.native-audio {
      background: url(https://poniverse.net/img/ponies/fm_pony.svg) center no-repeat;

    }

    &.unsupported {
      color: $white;
      text-align: center;
    }
  }

  .control-bar {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 40px;
    background: rgba($green, 0.8);
    bottom: 0;
    transition: opacity .5s;
    color: $white;
    opacity: 1;

    &.hide-bar {
      opacity: 0;
    }

    $left-width: 160px;
    $right-width: 32px;

    .left-controls {
      float: left;
      width: $left-width;
    }

    .right-controls {
      float: right;
      width: 32px;
    }

    .timestamp {
      transition: opacity 0.3s linear;
      opacity: 1;

      &.hide-timestamp {
        opacity: 0;
      }
    }

    .seekbar {
      $seekbarHeight: 5px;
      $margin-left: $left-width + 5px;
      $margin-right: $right-width + 5px;

      border-radius: 5px;
      position: relative;
      background-color: $seekbarBackground;
      color: white;
      height: $seekbarHeight;
      margin: 0 $margin-right 0 $margin-left;
      top: 50%;
      transform: translateY(-40%);
      transition: width 0.3s linear;

      &.volume {
        position: absolute;
        margin: 0;
        right: 13px;
        width: 80px;
        transition: visibility 0s, opacity 0.3s linear;
        opacity: 1;
        visibility: visible;
      }

      &.hide-volume {
        opacity: 0;
        visibility: hidden;
      }

      .seekbar-progress {
        border-radius: 5px;
        position: absolute;
        top: 0;
        left: 0;
        height: $seekbarHeight;
        background-color: $seekbarActive;
        transition: width 0.2s;
      }

      .seekbar-progress:after {
        content: " ";
        position: absolute;
        height: $seekbarHeight + 5px;
        width: $seekbarHeight + 5px;
        background-color: white;
        border-radius: 5px;
        color: black;
        right: -5px;
        top: -3px;
        transition: all 0.2s;
        opacity: 1;
      }

      &:hover .seekbar-progress:after {
        opacity: 1;
      }

      input[type="range"] {
        width: 100%;
        position: absolute;
        top:-5px;
        opacity:0;
        cursor:pointer;
      }

    }

    .volume-timestamp {
      display: inline-block;
      position: relative;
    }

    button, span {
      display: inline-block;
      padding: 11px 10px 9px;
    }

    button {
      background: none;
      border: 0;
      outline: none;
    }

    button + span {
      margin-left: -10px;
    }

    .volume > .fa {
      min-width: 15px;
    }

    // TODO: This should probably be a font somewhere
    .play {
      margin: 0 4px;
      background: url('play.svg') no-repeat center center;
      background-size: 14px 16px;
    }
  }
}
